* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Caveat-Regular;
  src: url(fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: Caveat-Bold;
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Gill-Sans;
  src: url(fonts/GillSanas.ttf);
}
@font-face {
  font-family: Gill-Light;
  src: url(fonts/GillSanas-Light.ttf);
}
@font-face {
  font-family: Gill-Italic;
  src: url(fonts/GillSans-Italic.ttf);
}
.site-button {
  background-color: #ffd972;
  padding: 10px 30px;
  border: none;
  border-radius: 100px;
  height: 52px;
  width: 152px;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-family: Caveat-Regular;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.nav {
  width: 100%;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  font-family: Caveat-Regular;
}
.nav__links__link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.nav__links__link:last-of-type {
  background-color: #ffd972;
  padding: 10px 30px;
  border-radius: 100px;
  height: 52px;
  width: 152px;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.nav__hamburger {
  display: none;
}

@-webkit-keyframes navIn {
  from {
    margin-top: -1200px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes navIn {
  from {
    margin-top: -1200px;
  }
  to {
    margin-top: 0;
  }
}
@-webkit-keyframes navOut {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1200px;
  }
}
@keyframes navOut {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1200px;
  }
}
.mobile-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffd972;
  z-index: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: navIn 0.7s ease;
          animation: navIn 0.7s ease;
}
.mobile-nav__link {
  font-family: Caveat-Regular;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .nav__logo {
    width: 136.46px;
  }
  .nav__links {
    display: none;
  }
  .nav__hamburger {
    display: block;
    width: 31.33px;
    height: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .nav {
    padding: 0 20px;
  }
}
.footer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  margin-top: -50px;
  font-family: GillSans-Italic;
}
.footer__copyright {
  font-size: 15px;
  color: #393939;
}
.footer__links {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links__link {
  text-decoration: none;
  color: #393939;
  font-size: 15px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70px;
}
.footer__socials__icon {
  width: 19px;
  color: #393939;
}
.footer__links-phone {
  display: none;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 0 20px;
  }
  .footer__copyright {
    font-size: 10px;
  }
  .footer__links {
    width: 500px;
  }
  .footer__links__link {
    font-size: 10px;
  }
  .footer__socials {
    width: 50px;
  }
}
@media only screen and (max-width: 360px) {
  .footer {
    margin-top: -100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__copyright {
    margin-right: 130px;
    margin-bottom: 20px;
  }
  .footer__links {
    display: none;
  }
  .footer__socials {
    margin-bottom: 20px;
  }
  .footer__links-phone {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__links-phone__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.home {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(242, 92, 84, 0.7)), to(rgba(242, 92, 84, 0.7))), url(../img/hero.jpg);
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.7), rgba(242, 92, 84, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home__bubbles {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}
.home__bubbles__big {
  background-color: #ffd972;
  width: 357.58px;
  height: 357.58px;
  border-radius: 500px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.home__bubbles__big__title {
  font-size: 24px;
  font-family: Caveat-Bold;
}
.home__bubbles__big__text {
  font-size: 12px;
  width: 166px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home__bubbles__small {
  background-color: #fcbcb8;
  width: 167.88px;
  height: 167.88px;
  border-radius: 300px;
  position: absolute;
  z-index: 0;
  margin-left: 350px;
  margin-top: -280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.home__bubbles__small__text {
  font-size: 10px;
  width: 106px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media only screen and (max-width: 768px) {
  .home__bubbles__small {
    margin-left: 190px;
    margin-top: -390px;
  }
}
@media only screen and (max-width: 360px) {
  .home__bubbles {
    width: 300px;
    height: 300px;
  }
  .home__bubbles__big {
    width: 257.81px;
    height: 257.81px;
  }
  .home__bubbles__small {
    width: 121.04px;
    height: 121.04px;
    margin-left: 150px;
    margin-top: -280px;
  }
}
.login {
  width: 100%;
  min-height: 100vh;
  background-color: #ffd972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__content {
  width: 209px;
}
.login__content__form__text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 10px;
}
.login__content__form__header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
  font-size: 30px;
}
.login__content__form__input {
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  background-color: #ffd972;
  margin-bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
}
.login__content__form__btn {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}