* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

//fonts
@font-face {
  font-family: Caveat-Regular;
  src: url(fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: Caveat-Bold;
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Gill-Sans;
  src: url(fonts/GillSanas.ttf);
}
@font-face {
  font-family: Gill-Light;
  src: url(fonts/GillSanas-Light.ttf);
}
@font-face {
  font-family: Gill-Italic;
  src: url(fonts/GillSans-Italic.ttf);
}

.site-button {
  background-color: #ffd972;
  padding: 10px 30px;
  border: none;
  border-radius: 100px;
  height: 52px;
  width: 152px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-family: Caveat-Regular;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
