* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Caveat-Regular;
  src: url(fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: Caveat-Bold;
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Gill-Sans;
  src: url(fonts/GillSanas.ttf);
}
@font-face {
  font-family: Gill-Light;
  src: url(fonts/GillSanas-Light.ttf);
}
@font-face {
  font-family: Gill-Italic;
  src: url(fonts/GillSans-Italic.ttf);
}
.site-button {
  background-color: #ffd972;
  padding: 10px 30px;
  border: none;
  border-radius: 100px;
  height: 52px;
  width: 152px;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-family: Caveat-Regular;
  font-size: 25px;
  text-decoration: none;
  color: black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.site-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav {
  width: 100%;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  margin-bottom: -125px;
}
.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  font-family: Caveat-Regular;
}
.nav__links__link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.nav__links__link:first-of-type {
  border-bottom: 3px solid black;
}
.nav__links__link:last-of-type {
  background-color: #ffd972;
  padding: 10px 30px;
  border-radius: 100px;
  height: 52px;
  width: 152px;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.nav__hamburger {
  display: none;
}

@-webkit-keyframes navIn {
  from {
    margin-top: -1200px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes navIn {
  from {
    margin-top: -1200px;
  }
  to {
    margin-top: 0;
  }
}
@-webkit-keyframes navOut {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1200px;
  }
}
@keyframes navOut {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1200px;
  }
}
.mobile-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffd972;
  z-index: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: navIn 0.7s ease;
          animation: navIn 0.7s ease;
}
.mobile-nav__link {
  font-family: Caveat-Regular;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .nav__logo {
    width: 136.46px;
  }
  .nav__links {
    display: none;
  }
  .nav__hamburger {
    display: block;
    width: 31.33px;
    height: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .nav {
    padding: 0 20px;
  }
}
.footer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  margin-top: -50px;
  font-family: GillSans-Italic;
}
.footer__copyright {
  font-size: 15px;
  color: #393939;
}
.footer__links {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__links__link {
  text-decoration: none;
  color: #393939;
  font-size: 15px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70px;
}
.footer__socials__icon {
  width: 19px;
  color: #393939;
}
.footer__links-phone {
  display: none;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 0 20px;
  }
  .footer__copyright {
    font-size: 10px;
  }
  .footer__links {
    width: 500px;
  }
  .footer__links__link {
    font-size: 10px;
  }
  .footer__socials {
    width: 50px;
  }
}
@media only screen and (max-width: 360px) {
  .footer {
    margin-top: -100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__copyright {
    margin-right: 130px;
    margin-bottom: 20px;
  }
  .footer__links {
    display: none;
  }
  .footer__socials {
    margin-bottom: 20px;
  }
  .footer__links-phone {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__links-phone__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.home {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(242, 92, 84, 0.7)), to(rgba(242, 92, 84, 0.7))), url(../img/hero.jpg);
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.7), rgba(242, 92, 84, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home__bubbles {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}
.home__bubbles__big {
  background-color: #ffd972;
  width: 357.58px;
  height: 357.58px;
  border-radius: 500px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.home__bubbles__big__title {
  font-size: 24px;
  font-family: Caveat-Bold;
}
.home__bubbles__big__text {
  font-size: 12px;
  width: 166px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home__bubbles__small {
  background-color: #fcbcb8;
  width: 167.88px;
  height: 167.88px;
  border-radius: 300px;
  position: absolute;
  z-index: 0;
  margin-left: 350px;
  margin-top: -280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.home__bubbles__small__text {
  font-size: 10px;
  width: 106px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media only screen and (max-width: 768px) {
  .home__bubbles__small {
    margin-left: 190px;
    margin-top: -390px;
  }
}
@media only screen and (max-width: 360px) {
  .home__bubbles {
    width: 300px;
    height: 300px;
  }
  .home__bubbles__big {
    width: 257.81px;
    height: 257.81px;
  }
  .home__bubbles__small {
    width: 121.04px;
    height: 121.04px;
    margin-left: 150px;
    margin-top: -280px;
  }
}
.login {
  width: 100%;
  min-height: 100vh;
  background-color: #ffd972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__content {
  width: 209px;
}
.login__content__form__text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 10px;
}
.login__content__form__header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
  font-size: 30px;
}
.login__content__form__input {
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  background-color: #ffd972;
  margin-bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
}
.login__content__form__btn {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.recipes {
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(167, 232, 189, 0.7)), to(rgba(167, 232, 189, 0.7))), url(../img/recipe-hero.jpg);
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.7), rgba(167, 232, 189, 0.7)), url(../img/recipe-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
}
.recipes__header {
  font-family: Caveat;
  font-weight: normal;
  font-size: 25px;
  width: 85%;
  margin: 0 auto 50px auto;
}
.recipes__container {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recipes__container__card {
  width: 524px;
  height: 263px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.recipes__container__card__image {
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
}
.recipes__container__card__details {
  width: 224px;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recipes__container__card__details__name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  border-bottom: 2px solid black;
  font-size: 15px;
}
.recipes__container__card__details__description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 9px;
  width: 80%;
}
.recipes__container__card__details__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 75px;
}
.recipes__container__card__details__block img {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.recipes__container__card__details__block p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0;
  font-size: 10px;
}

@media only screen and (max-width: 768px) {
  .recipes__header {
    text-align: center;
  }
  .recipes__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 360px) {
  .recipes {
    padding-bottom: 100px;
  }
  .recipes__container__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 298.18px;
  }
  .recipes__container__card__image {
    width: 100%;
    height: 149.37px;
  }
  .recipes__container__card__details {
    width: 100%;
    height: 169.37px;
  }
  .recipes__container__card__details__name {
    font-size: 10px;
  }
  .recipes__container__card__details__description {
    font-size: 8px;
  }
}
.create-recipes {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding-top: 150px;
}
.create-recipes__header {
  font-family: Caveat;
  font-weight: normal;
  font-size: 25px;
  width: 85%;
  margin: 0 auto 50px auto;
}
.create-recipes__form {
  width: 85%;
  margin: 0 auto 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.create-recipes__form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 75px;
  width: 100%;
  position: relative;
}
.create-recipes__form__section__button {
  border: none;
  background-color: #efa7a7;
  font-family: Caveat;
  font-size: 20px;
  width: 110px;
  height: 32.2px;
  border-radius: 32px;
  position: absolute;
  top: -5px;
  right: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.create-recipes__form__section__btn {
  border: none;
  background-color: #efa7a7;
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 60px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.create-recipes__form__section__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.create-recipes__form__section h1 {
  font-weight: normal;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  margin-bottom: 25px;
}
.create-recipes__form__section input {
  width: 100%;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px 0;
  font-size: 20px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.create-recipes__form__button {
  background-color: #efa7a7;
  border: none;
  width: 422px;
  height: 42px;
  border-radius: 52px;
  font-family: Caveat;
  font-size: 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
  .create-recipes__header {
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .create-recipes__form__button {
    width: 283px;
  }
}
.your-recipes {
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(167, 232, 189, 0.7)), to(rgba(167, 232, 189, 0.7))), url(../img/recipe-hero.jpg);
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.7), rgba(167, 232, 189, 0.7)), url(../img/recipe-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
}
.your-recipes__header {
  font-family: Caveat;
  font-weight: normal;
  font-size: 25px;
  width: 85%;
  margin: 0 auto 50px auto;
}
.your-recipes__container {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.your-recipes__container__extra-btns {
  position: absolute;
  bottom: -10px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.your-recipes__container__extra-btns__btn {
  font-size: 17px;
  width: 127.66px;
}
.your-recipes__container__card {
  width: 524px;
  height: 263px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.your-recipes__container__card__image {
  width: 300px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.your-recipes__container__card__image__btn {
  font-size: 20px;
  width: 127.66px;
}
.your-recipes__container__card__details {
  width: 224px;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.your-recipes__container__card__details__name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  border-bottom: 2px solid black;
  font-size: 15px;
}
.your-recipes__container__card__details__description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 9px;
  width: 80%;
}
.your-recipes__container__card__details__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.your-recipes__container__card__details__block img {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.your-recipes__container__card__details__block p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0;
  font-size: 10px;
}

@media only screen and (max-width: 768px) {
  .your-recipes__header {
    text-align: center;
  }
  .your-recipes__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 360px) {
  .your-recipes {
    padding-bottom: 100px;
  }
  .your-recipes__container__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 298.18px;
  }
  .your-recipes__container__card__image {
    width: 100%;
    height: 149.37px;
  }
  .your-recipes__container__card__details {
    width: 100%;
    height: 169.37px;
  }
  .your-recipes__container__card__details__name {
    font-size: 10px;
  }
  .your-recipes__container__card__details__description {
    font-size: 8px;
  }
}
.view-recipe {
  padding-top: 125px;
  padding-bottom: 50px;
  width: 100%;
}
.view-recipe__main {
  width: 85%;
  max-height: 421px;
  margin: 0 auto 50px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.view-recipe__main__name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -125px;
  top: 225px;
}
.view-recipe__main__image {
  height: 421px;
  width: 468px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.view-recipe__main__content {
  padding-left: 20px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.view-recipe__main__content__title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 5px;
}
.view-recipe__main__content__details {
  font-family: Caveat;
  font-size: 20px;
}
.view-recipe__more {
  width: 85%;
  margin: 0 auto 50px auto;
}
.view-recipe__more__title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 5px;
}
.view-recipe__more__list {
  font-family: Caveat;
  font-size: 20px;
}
.view-recipe__more__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .view-recipe__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 65%;
    max-height: 1000px;
    margin-bottom: 0;
  }
  .view-recipe__main__image {
    width: 468px;
    height: 421px;
    margin-bottom: 30px;
  }
  .view-recipe__main__content {
    padding-left: 0;
  }
  .view-recipe__main__content__title {
    margin-bottom: 50px;
  }
  .view-recipe__main__content__details {
    margin-bottom: 50px;
  }
  .view-recipe__more {
    width: 65%;
  }
}
@media only screen and (max-width: 360px) {
  .view-recipe {
    padding-bottom: 100px;
  }
  .view-recipe__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    max-height: 1500px;
    margin-bottom: 0;
  }
  .view-recipe__main__name {
    font-size: 20px;
    top: 120px;
    left: -80px;
  }
  .view-recipe__main__image {
    width: 251px;
    height: 226px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .view-recipe__main__content {
    padding-left: 0;
  }
  .view-recipe__main__content__title {
    margin-bottom: 50px;
    font-size: 20px;
  }
  .view-recipe__main__content__details {
    margin-bottom: 50px;
    font-size: 16px;
  }
  .view-recipe__more {
    width: 80%;
  }
  .view-recipe__more__title {
    font-size: 20px;
  }
}
.edit-recipes {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding-top: 150px;
}
.edit-recipes__header {
  font-family: Caveat;
  font-weight: normal;
  font-size: 25px;
  width: 85%;
  margin: 0 auto 50px auto;
}
.edit-recipes__form {
  width: 85%;
  margin: 0 auto 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-recipes__form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 75px;
  width: 100%;
  position: relative;
}
.edit-recipes__form__section__button {
  border: none;
  background-color: #efa7a7;
  font-family: Caveat;
  font-size: 20px;
  width: 110px;
  height: 32.2px;
  border-radius: 32px;
  position: absolute;
  top: -5px;
  right: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.edit-recipes__form__section__btn {
  border: none;
  background-color: #efa7a7;
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 60px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.edit-recipes__form__section__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.edit-recipes__form__section h1 {
  font-weight: normal;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  margin-bottom: 25px;
}
.edit-recipes__form__section input {
  width: 100%;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px 0;
  font-size: 20px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.edit-recipes__form__button {
  background-color: #efa7a7;
  border: none;
  width: 422px;
  height: 42px;
  border-radius: 52px;
  font-family: Caveat;
  font-size: 25px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
  .edit-recipes__header {
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .edit-recipes__form__button {
    width: 283px;
  }
}